mixin header()
  header(class="header container")
    div(class="clearfix")
      nav
        ul
          li
            a(href="#howItWorks") How it works
          li
            a(href="#feature") Features
          li
            a(href="#whoWeAre") Who we are
          li
            a(href="#contact") Contact
          li
            a(href="/user", class="button__red") Sign up
          li
            a(href="/login", class="button__red") Log in
      a(href="/", class="header--logo") Perce.io
