include ../layout/index/head
include ../layout/index/header

doctype html
html(lang="en")
  head
    +head( assets )
  body
    +header()

    form(method="POST", action="/login")
      input(type="email", name="email")
      input(type="password", name="password")
      button Send it yeah
