//
// color handling
//
color-super-dark-grey = #1C2E40
color-dark-grey = #2C3E50
color-white = #ECF0F1
color-black = #000

color-blue = #3498DB
color-dark-blue = #2980B9

color-red = #E74C3C

color-orange = #DB4830

z-labelShowNewProject = 1


header-height = 4.5rem

sidebar-width = 12rem
