.button
  border 0

  color color-white

  font-weight 400
  padding 0.5rem

  text-decoration none

  &:hover
    color color-white
  &:visited
    color color-white

.button__red
  @extend .button

  background color-red

  transition 0.25s linear background

  &:hover
    background lighten( color-red, 10 )

