.header
  position relative
  height header-height
  font-size 1rem

  a
    color color-white
    text-decoration none

  nav
    display inline-block
    vertical-align top

    float right

    height header-height

    padding 0.5rem 0 0 0

  ul
    margin 0

  li
    display inline-block
    margin 0 2rem

    &:last-child
      margin-right 0


.header--logo, .header--email, .header--image
  display inline-block
  vertical-align top
  height header-height

.header--logo

  margin -1rem 0 0 -1rem

  height header-height
  width sidebar-width

  padding 1.5rem 0 0 4rem

  background-color darken( color-super-dark-grey, 5 )
  background-image url(../img/logo.svg)
  background-size 2.5rem 2.5rem
  background-repeat no-repeat
  background-position 1rem 1rem

  overflow hidden

.header--email
  position relative

  margin  0
  padding 0.5rem 0 0 0

.header--image
  height 2.5rem
  width 2.5rem

  margin 0 0.5rem 0 1rem

  border-radius 50%
  border 2px solid color-blue

