.header
  position relative
  height 5rem
  font-size 1rem

  a
    color color-white
    text-decoration none

  nav
    float right

    margin 1rem 0 0 0

  ul
    margin 0

  li
    display inline-block
    margin 0 2rem

    &:last-child
      margin-right 0


.header--logo, .header--email
  display inline-block
  vertical-align top
  height header-height

.header--logo

  margin -1rem 0 0 -1rem

  height header-height
  width sidebar-width

  padding 2.5rem 0 0 4.5rem

  background-color darken( color-super-dark-grey, 5 )
  background-image url(../img/logo.svg)
  background-size 2.5rem 2.5rem
  background-repeat no-repeat
  background-position 1rem 1rem

  overflow hidden

.header--email
  padding-top 1.5rem
