.mainFooter
  background-color darken( color-super-dark-grey, 5 )
  position fixed
  bottom 0
  font-size 0.8rem
  line-height 0.8rem
  left 0
  right 0
  padding 1rem

  .col-3-1:nth-child(2)
    text-align center

  .col-3-1:nth-child(3)
    text-align right
