.projects
  list-style none
  padding 0


.project__name
  display inline-block
  width  250px
  font-weight bold
  color #e74c3c

.project__email
  border none
  padding 4px
  margin 2px 2px 20px 0
  width 242px