<h1>projects</h1>

<h2>your projects</h2>
<ul>
  <li ng-repeat="project in projects"> {{ project.name }}

    <form ng-submit="addUser( project._id, email )" action="">
      <input type="email" placeholder="user email" ng-model="email" required>
      <button>add user</button>
    </form>

  </li>
</ul>

<h2>add a new projects</h2>
<form name="createForm" ng-submit="create()" method="POST">
  <input type="text" ng-model="newProject.name" placeholder="project name" name="name" required>
  <input type="url" ng-model="newProject.url" placeholder="project url" name="url" required>
  <button ng-disabled="createForm.$invalid">submit</button>
</form>
