<h1>projects</h1>

<h2>your projects</h2>
<ul class="projects">
  <li class="project" ng-repeat="project in projects">

     <span class="project__name">{{ project.name }} </span>

    <input style="display: none;" type="checkbox" ng-model="isFormVisible" id="{{ project._id}}">
    <label class="project__showUserForm" for="{{ project._id}}">[ add user ]</label>

    <form ng-show="isFormVisible" ng-submit="addUser( project._id, email )" action="">
      <input type="email" class="project__email" placeholder="user email" ng-model="email" required>
      <button>+</button>
    </form>

  </li>
</ul>

<h2>add a new projects</h2>
<form name="createForm" ng-submit="create()" method="POST">
  <input type="text" ng-model="newProject.name" placeholder="project name" name="name" required>
  <input type="url" ng-model="newProject.url" placeholder="project url" name="url" required>
  <button ng-disabled="createForm.$invalid">submit</button>
</form>
