<h1>Your projects</h1>
<ul class="projects">
  <li class="project" ng-repeat="project in projects">
    <a ui-sref="project({ id: project._id })" class="project__name">{{ project.name }}</a>



    <a ui-sref="project({ id: project._id })" class="project__link">go to</a>
    <input type="checkbox" id="project_{{ project._id}}">
    <label class="project__label--showUserForm" for="project_{{ project._id}}">add user</label>
    <label class="project__label--hideUserForm" for="project_{{ project._id}}">cancel</label>

    <form class="project__form--addUser" ng-submit="addUser( project._id, email )" action="">
      <p>Want to add a new user? Just enter the email and he will be invited.</p>
      <input type="email" class="project__email" placeholder="user email" ng-model="email" required>
      <button>+</button>
    </form>
    <li class="project--new">
      <input id="newProjectForm" type="checkbox" id="{{ project._id}}">
      <label class="project__label--showNewProjectForm" for="newProjectForm">add project</label>
      <form class="project__form--addNewProject" id="newProjectForm" ng-submit="create()" method="POST">
        <p>You want to add a new project? That's great! Keep going.</p>
        <input type="text" ng-model="newProject.name" placeholder="project name" name="name" required>
        <input type="url" ng-model="newProject.url" placeholder="project url" name="url" required>
        <button ng-disabled="createForm.$invalid">submit</button>
        </form>
</ul>

