<ul class="projectNavigation">
  <li>
    <a href="requests" ng-class="isActiveLink('requests')">requests</a>
  </li>
  <li>
    <a href="timings" ng-class="isActiveLink('timings')">timings</a>
  </li>
    <li>
    <a href="html" ng-class="isActiveLink('html')">html</a>
  </li>
    <li>
    <a href="javascript" ng-class="isActiveLink('javascript')">javascript</a>
  </li>
  <li>
    <a href="dom" ng-class="isActiveLink('dom')">dom</a>
  </li>
  <li>
    <a href="headers" ng-class="isActiveLink('headers')">headers</a>
  </li>
  <li>
    <a href="caching" ng-class="isActiveLink('caching')">caching</a>
  </li>
  <li>
    <a href="cookies" ng-class="isActiveLink('cookies')">cookies</a>
  </li>
</ul>