<div class="projectNavigation">
  <ul>
    <li>
      <a ui-sref="project.general" data-title="general" ui-sref-active="active">general</a>
    </li>
    <li>
      <a ui-sref="project.requests" data-title="requests" ui-sref-active="active">requests</a>
    </li>
    <li>
      <a href="timings" data-title="timings" ui-sref-active="active">timings</a>
    </li>
      <li>
      <a href="html" data-title="html" ui-sref-active="active">html</a>
    </li>
      <li>
      <a href="javascript" data-title="javascript" ui-sref-active="active">javascript</a>
    </li>
    <li>
      <a href="dom" data-title="dom" ui-sref-active="active">dom</a>
    </li>
    <li>
      <a href="headers" data-title="headers" ui-sref-active="active">headers</a>
    </li>
    <li>
      <a href="caching" data-title="caching" ui-sref-active="active">caching</a>
    </li>
    <li>
      <a href="cookies" data-title="cookies" ui-sref-active="active">cookies</a>
    </li>
  </ul>
</div>
<div ui-view="main"></div>
