<ul class="projectNavigation">
  <li>
    <a href="requests" ng-class="isActiveLink('requests')" data-title="requests">requests</a>
  </li>
  <li>
    <a href="timings" ng-class="isActiveLink('timings')" data-title="timings">timings</a>
  </li>
    <li>
    <a href="html" ng-class="isActiveLink('html')" data-title="html">html</a>
  </li>
    <li>
    <a href="javascript" ng-class="isActiveLink('javascript')" data-title="javascript">javascript</a>
  </li>
  <li>
    <a href="dom" ng-class="isActiveLink('dom')" data-title="dom">dom</a>
  </li>
  <li>
    <a href="headers" ng-class="isActiveLink('headers')" data-title="headers">headers</a>
  </li>
  <li>
    <a href="caching" ng-class="isActiveLink('caching')" data-title="caching">caching</a>
  </li>
  <li>
    <a href="cookies" ng-class="isActiveLink('cookies')" data-title="cookies">cookies</a>
  </li>
</ul>
