<h1>
  Stats for {{ action }}
</h1>
<h2>
  project id : {{ id }}
</h2>

<div ui-view="navigation" class="projectNavigation">
  <ul>
  <li>
    <a ui-sref="project.general" data-title="general">general</a>
  </li>
  <li>
    <a ui-sref="project.requests" data-title="requests">requests</a>
  </li>
  <li>
    <a href="timings" data-title="timings">timings</a>
  </li>
    <li>
    <a href="html" data-title="html">html</a>
  </li>
    <li>
    <a href="javascript" data-title="javascript">javascript</a>
  </li>
  <li>
    <a href="dom" data-title="dom">dom</a>
  </li>
  <li>
    <a href="headers" data-title="headers">headers</a>
  </li>
  <li>
    <a href="caching" data-title="caching">caching</a>
  </li>
  <li>
    <a href="cookies" data-title="cookies">cookies</a>
  </li>
</ul>

</div>
<div ui-view="main"></div>